*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}
html,
body{
      height: 100%;
      width: 100%;
}
#nav{
    position: fixed;
    background-color: #111;
    display: flex;
    width: 100%;
    height: 14vh;
    align-items: flex-start;
    padding: 2vw 13vw;
    justify-content: space-between;
    z-index: 10;
}
#navpart2{
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    position: relative;
   z-index: 10;
}
#navpart2 h4{
    font-size: 0.8vw;
    text-transform:uppercase;
    font-weight: 600;
    padding: 1vw 0;
    margin-bottom: 2.6vw;
}
#navpart2 h5{
    margin-bottom: 1vw;
   /* background-color: red;*/
   display: none;
   overflow: hidden;
}
#navpart2 h5 span{
    font-size: 0.7vw;
    font-weight: 400;
    display: inline-block;
    transform: translateY(25px);
}
#nav-element{
    font-size: 13px;
}
#nav button{
    background-color: #0DA34E;
    border: none;
    border-radius: 50px;
    display: flex;
    /*
    width: 7vw;
    height: 2.5vw;*/
    justify-content: center;
    align-items: center;
    font-size: 0.99vw;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1vw;
    justify-content: space-between;
    padding: 12px 14px;
}
#nav button svg{
    height: 1vw;
    margin-left: 1.5vw;

}

#nav-bottom{
    width: 70%;
    height: 2vh;
    background-color: #111;
    position: absolute;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid #fff;
}
/*
#nav:hover #nav-bottom{
    background-color: #111;
    height: 130%;
    bottom: -100%;

}
#nav-bottom{
    height: 0%;
    position: absolute;
    width: 80%;
    bottom: 10%;
    transition: all ease 0.64s;
    border-bottom: 1px solid #dadada;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   padding: 2vw 20vw;
   padding-left: 17vw;
   padding-top: 2vw;
}
#bottom-div h5 span{
    font-size: 0.9vw;
    font-weight: 400;
}
#bottom-div h5{
    margin:0.05vw ;

}

*/

#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#page1 h1{
    font-size: 8.5vw;
    font-weight: 900;
    text-transform: uppercase;

}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}
#page1something{
    display: flex;

}
#page1something h4{
    font-size:1vw ;
    font-weight: 400;
    text-transform: lowercase;
    padding:5px 12px ;
    border: 1px solid #0DA34E;
    border-radius: 50px;
    margin-top: 1px;
    color: #0DA34E;
    background-color: #0da34e21;
}
#page1something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}


#moving-div{

    margin-top: 80vh;
   /* background-color: red;*/
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    width: 44%;
    white-space: nowrap;
    position: absolute;
    
}
#moving-div .move {
    display: inline-block;
  /*  background-color: pink;*/
  animation-name: mode;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#moving-div .move img{
    height: 1vw;
    margin: 0 1.2vw;
}


@keyframes mode{
    0%{
        transform:translateY(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

#blur-left{
    height: 100%;
    width: 20%;
    background:linear-gradient(to left, transparent,#111);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


#blur-right{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right,transparent, #111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
#page2{
    height: 105vh;
    width: 100%;
  /*  background-color: #af3b3b;*/
  background-color: #111;
    position: relative;
    padding: 2vw 13.5vw;
    padding-bottom: 7vw;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    
}
#page2-left{
       height: 100%;
       width: 40%;
       background-color: #111;
       display: flex;
       justify-content: space-between;
       align-items: flex-start;
       flex-direction: column;
       padding: 3vw 0.5vw;
}
#page2-left p{
    font-size: 1vw;
}
#page2-left h5{
    width: 80%;
    font-size:1.5vw ;
    font-weight: 400;
    text-transform: capitalize;
}
#page2-right{
    height: 100%;
    width: 50%;
    background-color: #111;
}
.right-elem{
    width: 100%;
    overflow: hidden;
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;

}
.right-elem img{
    height: 5vw;
    width: 5vw;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    
   
}
.right-elem h2{
             font-size: 1.8vw;
}


#page3{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
}

.page3-center{
     /*background-color: red; */
    display: flex;
    align-items: center;
    padding: 1vw;
    flex-direction: column;
}
.page3-center .icon{
    background-color: #fff;
    padding:3.7vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page3-center .icon i{
    font-size: 4vw;
    color: #000;
}
.page3-center h5{
    font-size: 1.3vw;
    background-color: #fff;
     color:#000;
     border-radius: 50px;
     padding: 12px 26px 10px 26px;
     font-weight: 900;
     opacity: 0;
     transition: all ease 0.5s;
     transform: translateY(15%);
     text-transform: uppercase;

}
.page3-center:hover h5{
    opacity: 1;
    transform: translateY(0%);
}

#page3 video{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transform: scaleX(0.1) scaleY(0.2);
  opacity: 0;
  border-radius: 50px;
  z-index: 99;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 13vh;
}

.section {
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
}

.sec-left {
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    /* background-color: aqua; */
    border-top: 2px solid #000;

}

.sec-left h2 {
    font-size: 2.1vw;
    font-weight: 500;
    color: #000;
}

.sec-left p {
    color: #000;
    margin-top: 10vh;
    font-size: 1.2vw;
    /* width: 80%; */
}

.sec-right {
    height: 100%;
    width: 70%;
    background-color: blanchedalmond;
    position: relative;
}

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.1s;
}
#pagel{
    height:100vh;
    width: 100%;
    padding: 5vh 20vh 5vh 20vh ;
    display: flex;
    justify-content: space-between;

}

#pagel-left{
    height: 100%;
    width: 55%;
    background-color: #000000;
    padding: 10vh 10vh;
    border-radius: 4vh;
    border: 3px solid #0DA34E;
}
#pagel-left h2{
    font-size: 4vh;
    color: #ffffff;
    
    
}
#pagel-lsec2{
    height: 35vh;
    width: 70vh;
    background-color: red;
    align-items: center;
}

#pagel-lsec3{
    display: flex;
    padding-top: 3vh;
}
#lsec3-left{
    
    background-color: #fff;
    height: 17vh;
    width: 35vh;
    border: 1px solid #333;
    border-radius: 2vh;
    padding: 2vh;
}
#lsec3-left h1{
  font-size: 5vh;
  text-transform: uppercase;
  color: #000;

}

#lsec3-left h3{
    font-size: 2vh;
    text-transform:capitalize;
    color: #000;
    margin-top: 20px;
    
  }
  
#lsec3-left h4{
    font-size: 2vh;
    text-transform: capitalize;
    color: #000;
    margin-top: -13vh;
    margin-left: 27vh;
  }

  #lsec3-right h1{
    font-size: 5vh;
    text-transform: uppercase;
    color: #000;
  
  }
  
  #lsec3-right h3{
      font-size: 2vh;
      text-transform:capitalize;
      color: #000;
      margin-top: 20px;
      
    }
    
  #lsec3-right h4{
      font-size: 2vh;
      text-transform: capitalize;
      color: #000;
      margin-top: -13vh;
      margin-left: 27vh;
    }
  

#lsec3-right{
    
    background-color: #fff;
    height: 17vh;
    width: 35vh;
    border: 1px solid #333;
    border-radius: 2vh;
    padding: 2vh;
}


#pagel-right{
    height: 100%;
    width: 40%;
    background-color: #fff;
    color: #111;
    padding-left: 5vh;
    padding: 4vh;
    border-bottom-style:dashed;
    border-bottom-left-radius: 3vh;
    border-top-left-radius:4vh ;
    border-top-right-radius: 4vh;
    color: #000;
    border-bottom-width: 1px;
    border-top: 1px dashed #111;
    position: relative;
    border-left: 0.1px dotted #1111111f;
    
    

}
#pagel-right h1{
    font-size: 6vh;
    color: #000;
}
#name{
    
    height: 0vh;
    width: 62vh;
    border: 1px solid #333;
    color: #000;
    font-size: 2vw;
    margin-top: 5vh;
}

.name{
    
    height: 0vh;
    width: 60vh;
    color: #000;
    font-size: 15px;
    margin-top: 5vh;
}

#yemail{
    
    height: 0vh;
    width: 62vh;
    border: 0.1px solid #333;
    color: #000;
    font-size: 5px;
    margin-top: 5vh;
}

.yemail{
    
    height: 0vh;
    width: 60vh;
    color: #000;
    font-size: 15px;
    margin-top: 4vh;
}

#ycompany{
    
    height: 0vh;
    width: 62vh;
    border: 0.1px solid #333;
    color: #000;
    font-size: 5px;
    margin-top: 5vh;
}

.ycompany{
    
    height: 0vh;
    width: 60vh;
    color: #000;
    font-size: 15px;
    margin-top: 4vh;
}

#pagel-right-button{
      height: 8vh;
      width: 40vh;
      border: 0px;
      border-radius: 7vh;
      font-size: 17px;
      font-weight: 400;
      background-color: #DCDCDC;
      color: #33333391;
      margin-top: 7vh;
      margin-left: 2vh;
    }

#pagel-right-button:hover{
         background-color:#0DA34E;
         color: #111;
         border: 1px dashed #111;
         font-weight: 400;
         
}
#pagel-right2{
    height: 3.5vh;
    width: 10vh;
    border: 1px solid #111;
    border-radius: 5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 24vh;
    position: absolute;
    left: 60vh;
    
}    
#pagel-right2 h6{
    color: #111;
    padding: 0.5vh;
    
}
.linfo{
    background-color: #fff;
    position: absolute;
    display: flex; 
    gap: 7vw;
    top: 75vh;
    
}
#linfos{
    background-color: black;
    position: absolute;
    bottom: -7vh;
    border-radius: 5vh;
    border: 0px;
    color: #fff;
    height: 5vh;
    width: 20vh;
}

#linfop{
    background-color: black;
    position: absolute;
    bottom: -7vh;
    border-radius: 5vh;
    border: 0px;
    color: #fff;
    height: 5vh;
    width: 20vh;
    left: 25vh;
}
#linfow{
    background-color: black;
    position: absolute;
    bottom: -7vh;
    border-radius: 5vh;
    border: 0px;
    color: #fff;
    height: 5vh;
    width: 20vh;
    left: 50vh;
}
.linfo h5{
    margin-left: 1vh;
   margin-bottom: -2vh;
    color: #000;
}
#notifl{
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #111;
    border-radius: 7vh;
    height: 10vh;
    width: 45vh;
    text-align: center;
    padding: 2vh;
    justify-content: space-between;
    border: 1px solid #fff;
}
#notifl:hover{
    border: 1px solid #0DA34E;
}
#notifl h3{
    font-size: 2vh;
    margin-left: 1vh;
}
#notifl-accept{
    background-color: #333;
    border-radius: 4vh;
    width: 17vh;
    text-align: center;
    padding: 1vh;
    text-transform: uppercase;
}
#notifl-accept:hover{
    background-color: #111;
    border: 1px solid #0DA34E;
}